@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;700;900&family=Staatliches&display=swap");

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches";
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  margin: 5px 0;
}
p {
  font-family: "Lexend";
  color: #ffffff94;
  font-size: 23px;
  font-weight: 300;
  line-height: 29px;
  margin: 0;
}

#gui {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 100px;
  padding-left: 185px;
  box-sizing: border-box;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#gui::-webkit-scrollbar {
  display: none;
}

#gui.hidden {
  display: none;
}

#gui .popout {
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

#gui:not(.hidden) .popout {
  opacity: 0;
  animation: popout 0.2s ease-out forwards;
}

#gui:not(.hidden) .popout:nth-child(2) {
  animation-delay: 0.15s;
}

@keyframes popout {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
