@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;700;900&family=Staatliches&family=Bebas+Neue&display=swap");

body {
  margin: 0;
  /* background: -moz-linear-gradient(153.24deg, #141318 8.04%, #2e3e5b 97.32%);
  background: -o-linear-gradient(153.24deg, #141318 8.04%, #2e3e5b 97.32%);
  background: -webkit-linear-gradient(153.24deg, #141318 8.04%, #2e3e5b 97.32%); */
  /* background: #141318; */
  overflow: hidden;
}

section:not(:first-child) {
  margin-top: 100px;
}

h1 {
  font-family: "Bebas Neue", Helvetica;
  font-size: 70px;
  font-weight: 400;
  color: #ffffffda;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  margin: 5px 0;
}
p {
  font-family: "Lexend", Helvetica;
  color: #ffffff8c;
  font-size: 23px;
  font-weight: 300;
  line-height: 29px;
  margin: 0 0 20px 0;
}

.button {
  height: 40px;
  background-color: #fff;
  color: #1b202c;
  font-family: "Lexend";
  font-weight: 500;
  border-radius: 50px;
  outline: none;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;

  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-right: 20px;

  transition: padding-right 0.1s ease;
}

.button img {
  position: absolute;

  width: 24px;
  height: 24px;
  left: 115px;
}

.button:hover {
  padding-right: 60px;
}

#gui {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 100px;
  padding-left: 70px;
  box-sizing: border-box;
  overflow: hidden;

  /* perspect?ive: 700px; */
  /* transform-style: preserve-3d; */
  /* transform: rotateY(21deg) rotateX(-4deg); */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#gui::-webkit-scrollbar {
  display: none;
}

#gui.hidden {
  display: none;
}

#gui .popout {
  /* transform: scale(1) translateY(0); */
  /* transform-origin: center;
  transition: transform 0.5s ease-in-out; */
}

#gui:not(.hidden) .popout {
  animation: popout 0.8s ease backwards;
}
#gui .fade-in {
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

#gui:not(.hidden) .fade-in {
  /* opacity: 1; */
  animation: fade-in 0.7s ease backwards;
}

@keyframes popout {
  0% {
    opacity: 0;
    filter: brightness(3) saturate(3);
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    filter: brightness(1) saturate(1);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    /* filter: blur(4px); */
  }
  100% {
    opacity: 1;
  }
}
.reveal {
  transform: translateY(50px);
}

.reveal.active {
  animation: reveal-default 1s ease forwards;
  /* animation-delay: 0.2s; */
}
@keyframes reveal-default {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons object {
  margin-right: 10px;
}

#footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#footer h2 {
  color: white;
  margin: auto 0;
  font-family: "Lexend";
  white-space: nowrap;
  font-size: 20px;
}
