#portfolio h1 {
  font-size: 64px;
  letter-spacing: 2px;
}

#portfolio .plus-stuff {
  margin-top: 30px;
}
#portfolio .plus-stuff h4 {
  /* font-family: "Lexend"; */
  color: #ffffffd1;
  font-size: 50px;
  font-weight: 400;
}
