#ach {
}

#ach .skillset {
  margin-top: 30px;
  display: flex;
  width: 99%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

#ach .skillset div {
  position: relative;
  width: 22%;
  aspect-ratio: 125 / 150;
  margin: 2px;
  background-color: #2b3954;
  border-radius: 15px;
  transform: translateY(0);

  transition: all 0.3s;
}

#ach .skillset div:hover {
  transform: translateY(-5px);
  background-color: #41547a;
}

#ach .skillset div img {
  display: block;
  margin: 30px auto 0;
  width: 43%;

  transform: translateY(0);
  transition: all 0.6s;
}

#ach .skillset div:hover img {
  transform: translateY(-8px);
}

#ach .skillset div p {
  color: white;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: -10px;
  width: 100%;
}

#ach .skillset div.active {
  animation: popout-e 0.5s backwards;
}

#ach .skillset div.active:nth-child(1) {
  animation-delay: 0;
}
#ach .skillset div.active:nth-child(2) {
  animation-delay: 0.1s;
}
#ach .skillset div.active:nth-child(3) {
  animation-delay: 0.2s;
}
#ach .skillset div.active:nth-child(4) {
  animation-delay: 0.3s;
}
#ach .skillset div.active:nth-child(5) {
  animation-delay: 0;
}
#ach .skillset div.active:nth-child(6) {
  animation-delay: 0.1s;
}
#ach .skillset div.active:nth-child(7) {
  animation-delay: 0.2s;
}
#ach .skillset div.active:nth-child(8) {
  animation-delay: 0.3s;
}
#ach .skillset div.active:nth-child(9) {
  animation-delay: 0;
}
#ach .skillset div.active:nth-child(10) {
  animation-delay: 0.1s;
}
#ach .skillset div.active:nth-child(11) {
  animation-delay: 0.2s;
}
#ach .skillset div.active:nth-child(12) {
  animation-delay: 0.3s;
}
#ach .skillset div.active:nth-child(13) {
  animation-delay: 0;
}
#ach .skillset div.active:nth-child(14) {
  animation-delay: 0.1s;
}
#ach .skillset div.active:nth-child(15) {
  animation-delay: 0.2s;
}
#ach .skillset div.active:nth-child(16) {
  animation-delay: 0.3s;
}
#ach .skillset div.active:nth-child(17) {
  animation-delay: 0;
}
#ach .skillset div.active:nth-child(18) {
  animation-delay: 0.1s;
}
#ach .skillset div.active:nth-child(19) {
  animation-delay: 0.2s;
}
#ach .skillset div.active:nth-child(20) {
  animation-delay: 0.3s;
}
@keyframes popout-e {
  0% {
    opacity: 0;
    /* filter: brightness(3) saturate(3); */
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    /* filter: brightness(1) saturate(1); */
    transform: translateY(0);
  }
}

#es-i p {
  font-size: 19px;
}

#rn-i p {
  font-size: 19px;
}
